In [20]:
# 1. Notwendige Bibliotheken importieren
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [21]:
# 2. Titanic-Datensatz laden
df = sns.load_dataset('titanic')

In [22]:
# 3. Erste Daten√ºbersicht
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [23]:
# 4. Allgemeine Informationen zum Datensatz
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [24]:
# 5. Beschreibende Statistik anzeigen
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [25]:
# 6. √úberlebensrate insgesamt
survival_rate = df['survived'].mean()
print(f"Die Gesamt√ºberlebensrate betr√§gt: {survival_rate:.2f}")

Die Gesamt√ºberlebensrate betr√§gt: 0.38

In [30]:
# 7. Visualisierung der √úberlebensrate nach Geschlecht
plt.figure(figsize=(8, 6))
sns.countplot(x='sex', hue='survived', data=df)
plt.title('√úberlebensrate nach Geschlecht')

# Diagramm speichern als PNG
plt.savefig(r'C:\Users\Admin\Documents\Woche_16_10.03.25-14.03.25\10.03.25\titanic_analysis\results\survival_rate_by_gender.png')

# Diagramm schlie√üen
plt.close()

In [28]:
# Visualisierung der √úberlebensrate nach Passagierklasse
plt.figure(figsize=(8, 6))
sns.countplot(x='pclass', hue='survived', data=df)
plt.title('√úberlebensrate nach Passagierklasse')

# Diagramm speichern als PNG
plt.savefig(r'C:\Users\Admin\Documents\Woche_16_10.03.25-14.03.25\10.03.25\titanic_analysis\results\survival_rate_by_class.png')

# Diagramm schlie√üen
plt.close()

In [29]:
# Visualisierung der √úberlebensrate nach Alter
plt.figure(figsize=(8, 6))
sns.histplot(df[df['survived'] == 1]['age'], kde=True, color='green', label='√úberlebt', stat='density')
sns.histplot(df[df['survived'] == 0]['age'], kde=True, color='red', label='Nicht √ºberlebt', stat='density')
plt.title('√úberlebensrate nach Alter')
plt.xlabel('Alter')
plt.ylabel('Dichte')
plt.legend()

# Diagramm speichern als PNG
plt.savefig(r'C:\Users\Admin\Documents\Woche_16_10.03.25-14.03.25\10.03.25\titanic_analysis\results\/survival_rate_by_age.png')

# Diagramm schlie√üen
plt.close()

In [ ]:
"""with open(r"C:\Users\Admin\Documents\Woche_16_10.03.25-14.03.25\10.03.25\titanic_analysis\README.md") as file:
    content = file.read()

print(content)"""

## Projekt: Titanic Analyse

### Beschreibung
Dieses Projekt f√ºhrt eine **explorative Analyse der Passagierdaten der Titanic** durch.
Der Fokus liegt auf der **Untersuchung der √úberlebenswahrscheinlichkeiten** basierend auf verschiedenen demografischen Faktoren.

Unsere Schwerpunkte sind:
- **Datenanalyse**: Untersuchung der Datenqualit√§t und relevanter Merkmale
- **Aggregation**: Zusammenf√ºhrung und Berechnung relevanter Statistiken
- **Visualisierung**: Darstellung der Ergebnisse durch Diagramme

---

### **Ordnerstruktur**

```
Titanic_Analysis/
‚îú‚îÄ‚îÄ README.md                               # Projektbeschreibung mit einer √úbersicht √ºber das Projekt
‚îú‚îÄ‚îÄ data/                                   # Enth√§lt alle Daten f√ºr die Analyse
‚îÇ    ‚îú‚îÄ‚îÄ processed/                         # Vorverarbeitete Daten nach Bereinigung und Transformation
‚îÇ        ‚îú‚îÄ‚îÄ
‚îÇ
‚îú‚îÄ‚îÄ notebooks/                              # Jupyter Notebooks oder Python-Skripte f√ºr Analysen und Exploration
‚îÇ    ‚îú‚îÄ‚îÄ titanic_analysis.py                # Hauptskript f√ºr die Datenanalyse
‚îÇ
‚îú‚îÄ‚îÄ results/                                # Ergebnisse der Analysen, z. B. Diagramme und Berichte
‚îÇ    ‚îú‚îÄ‚îÄ (....png)
‚îÇ
‚îú‚îÄ‚îÄ src/                                    # Enth√§lt den eigentlichen Code des Projekts, z. B. Funktionen und Modelle
‚îÇ   ‚îú‚îÄ‚îÄ
‚îÇ
‚îú‚îÄ‚îÄ tests/                                  # Tests f√ºr den Code, um sicherzustellen, dass alles korrekt funktioniert
‚îÇ    ‚îú‚îÄ‚îÄ
‚îÇ
‚îî‚îÄ‚îÄ requirements.txt                        # Liste der ben√∂tigten Python-Bibliotheken f√ºr das Projekt
```

### Hinweise f√ºr Nutzer
```
Die Anwendung wird durch titanic_analysis.py gestartet.
Alle Module befinden sich im src/-Verzeichnis.
Tests befinden sich im tests/-Verzeichnis und k√∂nnen mit pytest ausgef√ºhrt werden.
Installiere Abh√§ngigkeiten mit pip install -r requirements.txt.
```
### **Autor**

#### [Titanic Busters]